.Top {
    height: 120vh;
    display: flex;
    margin-top: 0px;
    justify-content: center;
}

.ph1 {

    height: 650px;
    margin-top: 62px;
}

.head .title span {
    text-decoration: underline;
}

.head .title {
    color: #3853a8;
    font-family: 'Marko One';
    margin-left: 35px;
    font-size: 37px;
}

form {
    margin-left: 35px;
}