 * {
     box-sizing: border-box;
 }

 body {
     margin: 0 60px;
 }

 .center {
     display: block;
     margin: 0 auto;
 }

 .container {
     border: 3px solid #3853a8;
     padding: 20px;
     position: relative;
     width: 100%;
     height: auto;
 }
 .container h2::before {
     content: "";
     display: block;
     border-top: 3px solid #3853a8;
     height: 10px;
     width: 60px;
     margin-left: 5px;
 }
 .container h2{
    font-family: 'Marko One';
 }
 .container p{
    font-family: 'Open Sans';
    flex: 1;
 }

 .para{
    display: flex;
 }
 .para1, .para2, .para3 {
    padding: 0 20px;
}

 button {
     padding: 10px 55px;
     background-color: #010021;
     color: white;
     margin:0 10px ;
 }
.buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
 .moonstar{
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #e8e4d4;
    padding: 10px 40px;
}

.container1{
    display: flex;
    margin: 150px 0 0 0;
}
.tips-p{
    border: 2px solid hidden ; 
    padding-right: 20vh;
    margin-right: 10px;
}
.tips-p h1{
    color: #3853a8;
    font-family: 'Marko One';
    font-size: 50px;
}

.num{
    font-size: 50px;
    font-family: 'Marko One';
    color: #3853a8;
}
hr{
    border:none ;
    height: 3px;
    background-color: #3853a8;
}
.point1{
    border: 3px solid #3853a8;
    padding: 0 30px;
    margin-left: 50px; ;
    text-align-last: center;
}

.point2{
    border: 3px solid #3853a8;
    padding: 0 30px;
    text-align-last: center;
    margin-right: 20px;
   /* corners */
   background:
        linear-gradient(to right, #3853a8 6px, transparent 6px) 0 0,
        linear-gradient(to right, #3853a8 6px, transparent 6px) 0% 100%,
        linear-gradient(to left, #3853a8 6px, transparent 6px) 100% 0,
        linear-gradient(to left, #3853a8 6px, transparent 6px) 100% 100%,
        linear-gradient(to bottom, #3853a8 6px, transparent 6px) 0 0,
        linear-gradient(to bottom, #3853a8 6px, transparent 6px) 100% 0,
        linear-gradient(to top, #3853a8 6px, transparent 6px) 0 100%,
        linear-gradient(to top, #3853a8 6px, transparent 6px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 60px 60px;

}

.point3{
    border: 3px solid #3853a8;
    padding: 0 30px;
    text-align-last: center;
}
.container2{
    display: flex;
}