@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cairo+Play:wght@200&family=Handjet&family=Marko+One&family=Rakkas&family=Tajawal:wght@200&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  body{
    background-color: #e8e4d4;
    margin: 6vh;
    margin: 0px;
    padding: 0px;
  }
  /* Navbar */
  .navbar {
    margin: 5vh 5vh 0vh 5vh;
   
  }
  .navbar li {
    display: inline-block;
  }
  .navbar li a {
    font-size: 26px;
    padding: 14px 40px;
    text-decoration: none;
    color: #90908a;
    font-family: 'Cairo';
  }
  .navbar .Title {
    font-size: 26px;
    float: right;
    margin-right: 3vh;
    padding: 8px 20px;
    font-family: 'Open Sans';
    color: #e1e1e1;
    background-color: #060f30;
  }
  .x{
    font-weight: bold;
    color: black;
  }
  .navbar li a:hover{
    text-decoration: underline;
    color: #000000b9;
  }
  .navbar .Title:hover{
    cursor: pointer;
    background-color: #03081a;
  }
  /* Main */
  .main{
    margin-top: 6vh;
    padding: 0px 10vh 0px 10vh;
    display: flex;
    justify-content: space-around;
  }
  .art{
    width: 600px;
    text-align: center;
    margin-bottom: 1vh;
  }
  .art .title{
    font-family: 'Marko One';
    font-size: 100px;
    margin: 0px;
    color: #3853a8;
  }
  .art .p1{
    font-size: 26px;
    margin: 0px;
    font-weight: 900;
    font-family: 'Open Sans';
    color: #060f30;
    margin: 0px 20px 0px 20px;
  }
  .art p{
    color: #595959;
  }
  .des{
    display: flex;
    justify-content: center;
  }
  .box{
    margin: 1vh 0vh 7vh 0vh;
    border: solid 3px #3853a8;
    font-family: 'Cairo';
    padding: 1vh;
  }
  .box h1{
    margin: 0px;
    font-family: 'Marko One';
  }
  #nav{ display: none;}
  #contact{ display: none;}

  #button:hover{
    cursor: pointer;
    background-color: rgba(241, 240, 233, 0.769)
  }

  /* Responsive */

  @media (min-width: 1051px) and (max-width: 1420px) {
    .main {
        margin: auto;
        width: 580px;
        flex-direction: column;
    }
    #art2{
      margin-top: 2vh;
    }
  }
  @media (min-width: 100px) and (max-width: 1050px) {
    .cloud{
      display: none;
    }
    .navbar .Title{
      display: none;
    }
    .navbar li{
      display: block;
      padding: 0px;
      margin: 0px;
    }
    .navbar li a{
      display: none;
    }
    .navbar{
      text-align: center;
    }
    #contact{
      display: block;
    }
    #nav{
      display: block;
    }
    .main{
      display: block;
     flex-direction: column;
     margin: auto;
     margin-top: 5vh;
    }
    #art2{
      margin-top: 5vh;
      margin-left: 0px;
    }
    body{
      display: flex;
      flex-direction: column;
    }
  }