.mainsite{
    background-color: #3853a8;
    justify-content: center;
    overflow: hidden;
}
.img-text{
    text-align: center;
    margin: 0vh 45vh 0vh 45vh;
}
.img-text h1{
    font-family: 'Marko One';
    font-size: 100px;
    margin: 0px;
    color: #e0e0d6;
}
.img-text p{
    font-family: 'Open Sans';
    color: #e0e0d6;
}