
.pic{
    background-color: rgb(70, 70, 155);
    height: 70vh;
    position: relative;
    
}
#item2{
    float: right;
    clear: right;
    height: 1377px;
}

#item1{
height: 1377px;
}

   .img-text{
    position: absolute;
    top: 25%;
    margin-left: 1500px;
    color: azure;
    text-align: center;
   }

   .img-text h1{
    font-family: 'Marko One';
    font-size: 80px;
   }

    .img-text p{
        font-family: 'Cairo';
        font-size: 30px;
margin: 20px;        
    }

.button{
    
}






